[Desktop Entry]
Name=OrcaStudio
GenericName=3D Printing Software
Icon=OrcaStudio
Exec=orca-studio %U
Terminal=false
Type=Application
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
MimeType=model/stl;model/3mf;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;x-scheme-handler/bambustudio;x-scheme-handler/bambustudioopen;model/step;
Categories=Graphics;3DGraphics;Engineering;
Keywords=3D;Printing;Slicer;slice;printer;convert;gcode;stl;obj;amf;SLA
StartupNotify=false
StartupWMClass=BambuStudio_OrcaSlicer
